<div class="card mb-3 container-fluid parrafo animated flipInX" id="contacto">
  <div class="row g-0">
    <div class="col-md-4 imagenTarjeta">
      <img src="../../../assets/perfilePhoto.jpg" class="img-fluid rounded-start" alt="Martin Arcos Vargas" />
    </div>
    <div class="col-md-8">
      <div class="card-body cuerpoTarjeta">
        <h1>MARTÍN ARCOS VARGAS</h1>
        <h5 class="card-title" id="profesion">
          Analista Programador Universitario
        </h5>
        <h5 class="card-title">Full Stack Developer Jr</h5>
        <p class="card-text" id="form_pregunta">Telefono</p>
        <p class="card-text" id="form_respuesta">+54 9 505803</p>
        <p class="card-text" id="form_pregunta">Email</p>
        <p class="card-text" id="form_respuesta">
          martinarcosvargas2@gmail.com
        </p>
        <p class="card-text" id="form_pregunta">Direccion</p>
        <p class="card-text" id="form_respuesta">
          Gaiman, Chubut Argentina
        </p>
      </div>
    </div>
  </div>
</div>