<div class="pieDePagina">
    <div class="row">
        <div class="col columna1PiePagina">
            <fa-icon id="redes_gmail" [icon]="faEnvelope"></fa-icon>
            <!-- <i id="redes_gmail" class="fa-sharp fa-solid fa-envelope"></i> -->
            <span>martinarcosvargas2@gmail.com</span>
            <br />
            <fa-icon id="redes_telefono" [icon]="faMobileRetro"></fa-icon>
            <!-- <i id="redes_telefono" class="fa-solid fa-mobile-retro"></i> -->
            <span>+54 9 280 450 5803</span>
            <br>
            <fa-icon id="redes_map" [icon]="faLocationDot"> </fa-icon>
            <!-- <i id="redes_map" class="fa-sharp fa-solid fa-location-dot"></i> -->
            <span>Gaiman, Chubut Argentina</span>
        </div>
        <div class="col order-5 redesContacto">
            <a class="icon_redes rounded float-start" target="_blank" href="https://github.com/cozakoo">
                <fa-icon [icon]="faGithub"></fa-icon>
                <!-- <i class="fa-brands fa-github"></i> -->
            </a>
            <a class="icon_redes" target="_blank" href="https://www.facebook.com/MartinArcosVargas/">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <!-- <i class="fa-brands fa-facebook"></i></a> -->
            <a class="icon_redes rounded float-end" target="_blank" href="https://t.me/MartinArcos" id="ultimoIcono">
                <fa-icon [icon]="faTelegram"></fa-icon>
                <!-- <i class="fa-brands fa-telegram"></i> -->
            </a>
            <br />
            <a class="icon_redes rounded float-start" target="_blank"
                href="https://wa.me/5492804505803?text=Hola,%20he%20visto%20tu%20curriculum%20web">
                <fa-icon [icon]="faWhatsapp"></fa-icon>
                <!-- <i class="fa-brands fa-whatsapp"></i> -->
            </a>
            <a class="icon_redes" target="_blank" href="https://www.instagram.com/martin_arcos_">
                <fa-icon [icon]="faInstagram"> </fa-icon>
                <!-- <i class="fa-brands fa-instagram"></i> -->
            </a>
            <a class="icon_redes rounded float-end" target="_blank" href="https://www.linkedin.com/in/martin-arcos"
                id="ultimoIcono">
                <fa-icon [icon]="faLinkedin"></fa-icon>
                <!-- <i class="fa-brands fa-linkedin"></i> -->
            </a>
        </div>
        <div class="col order-1 piePaginalogo">
            <img width="30%" class="img-fluid" src="../../assets/logo.png" alt="" />
            <p>Martín Arcos Vargas</p>
        </div>
    </div>
    <div class="row">
        <p id="copyright">© Todos los derechos reservado</p>
    </div>
</div>