<br id="acercaDeMi" />
  <br /><br />
  <div class="card mb-3 cardPresentacion">
    <div class="row g-0">
      <h1 class="title" id="tituloPresentacion">¡HOLA! SOY MARTÍN</h1>
      <div class="col-md-4 imagenPresentacion">
        <img src="../../../assets/presentationPhoto.jpg" class="img-fluid rounded-start" alt="diseñador web" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- <p class="card-text"> -->
          <!-- Hola! Actualmente me encuentro estudiando Analista Programador -->
          <!-- Universitario en la -->
          <!-- <a href="http://www.unp.edu.ar/" target="_blank"><b>Universidad Nacional de la Patagonia San Juan Bosco -->
          <!-- (UNPSJB)</b></a>con sede en Trelew-Chubut-Argentina. -->
          <!-- </p> -->
          <p class="card-text">
            Amante de la tecnología ya que la programación es algo que siempre
            me ha encantado y por ende siempre me he capacitado en lo mas que
            puedo.
            <!-- Me hee capacitado en
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
              target="_blank"><b>#ArgentinaPrograma</b></a>
            y en la plataforma
            <a href="https://jprogramadores.biblioredes.gob.cl/moodle/login/index.php"
              target="_blank"><b>JovenesProgramadores</b></a>
            donde realice varios cursos como: Ciberseguridad Ciudadana, CSS,
            Aplicaciones Moviles, HTML, React, JQuery, entre otras. -->
          </p>
          <p class="card-text">
            Cuento con conocimientos en lenguajes de programación, herramientas de testeo y framework.
            Próximamente iré adquiriendo más habilidades y conocimientos.. Mi stack de trabajo incluye #HTML #CSS
            #Bootstrap #Angular, entre otros.
          </p>
          <p class="card-text">
            Quiero adentrarme en el ámbito laboral de la programación para
            aplicar mis conocimientos y aprender cada día mas. Me gustaría
            trabajar en una empresa orientado a lo que es desarrollo de
            software, Bases de Datos (relacionales y/o no relacionales), etc.
          </p>
          <!-- <p class="card-text">
            Con amplios conocimientos en el sector IT. Mi área preferida de trabajo es FrontEnd aunque mi titulación
            es Full Stack Web Developer. Mi stack de trabajo incluye #HTML #CSS #Bootstrap #Angular. Recibida como
            Tester de Software Manual.
          </p> -->
        </div>
      </div>
    </div>
  </div>