<h1 class="title">EDUCACIÓN</h1>
<div class="accordion cardEducacion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item1" aria-expanded="true" aria-controls="cardEducacion-item1">
        Analista Programador Universitario
      </button>
    </h2>
    <div id="cardEducacion-item1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <p><strong><img src="../../../assets/imageseducation/unpsjb.png" class="img-thumbnail logoEducaciones" alt="" />
            Universidad Nacional de la Patagonia San Juan Bosco /// 2017 -
            Actualidad.</strong>
        </p>
        <p>
          La carrera Analista Programador Universitario tiene como objetivo
          la formación de un graduado con conocimientos básicos de los
          fundamentos de la disciplina y de las tecnologías actuales, a fin
          de resultar capacitado para el trabajo profesional en sistemas de
          pequeña y mediana complejidad.
        </p>
        <a href="http://www.ing.unp.edu.ar/analista-programador-universitario.html" target="_blank"><button
            type="button" class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item2" aria-expanded="false" aria-controls="cardEducacion-item2">
        Diseñador y administrador de Páginas Web
      </button>
    </h2>
    <div id="cardEducacion-item2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <p>
          <strong><img src="../../../assets/imageseducation/cfp653.png" class="img-thumbnail logoEducaciones" alt="" />Centro
            Formación
            Profesional 653 ///
            Junio 2022 - Diciembre
            2022. Con certificación.</strong>
        </p>
        <p>
          Diseño, maquetado y desarrollo de plataformas e-commerce, sitios
          web institucionales y landing pages alineadas con la propuesta y
          objetivos de la organización.
        </p>
        <a href="#" target="_blank"><button type="button" class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item3" aria-expanded="false" aria-controls="cardEducacion-item3">
        Prgramador Web Full-Stack Junior
      </button>
    </h2>
    <div id="cardEducacion-item3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <p>
          <strong><img src="../../../assets/imageseducation/argentinaPrograma.png" class="img-thumbnail logoEducaciones"
              alt="" />Argentina Progama /// 2022
            - 2023.</strong>
        </p>
        <p>
          Un programa para acceder a capacitaciones gratuitas en tres áreas:
          programación, testing y habilidades digitales.
        </p>
        <p>
          Se trata de un programa nacional y federal que tiene como objetivo
          capacitar a personas en lenguajes y conocimientos sobre
          programación, testing y habilidades digitales para potenciar la
          empleabilidad en el sector del software y la tecnología. El
          programa es impulsado por el Ministerio de Economía de la Nación
          junto a los ministerios de Educación y de Ciencia y Tecnología.
        </p>
        <p>
          Habilidades digitales, Arquitectura Web, Git/Github, Operadores de
          búsqueda, SCRUM, Gestión del tiempo, APIs, HTML, CSS, Javascript,
          Typescript, Bootstrap, Angular, SQL, SPA, MPA, POO, Java, JSP,
          Spring Boot, DevOps, Seguridad Web, Testing, Deploy.
        </p>
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
          target="_blank"><button type="button" class="btn btn-primary">Ver más</button></a>
        <!-- <button type="button" class="btn btn-primary">
            Certificado yo programo
          </button>
          <button type="button" class="btn btn-primary">
            Certificado segunda etapa
          </button> -->
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item4" aria-expanded="false" aria-controls="cardEducacion-item4">
        Mantenimiento y Reparación de Equipos Informaticos.
      </button>
    </h2>
    <div id="cardEducacion-item4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
        <p>
          <strong><img src="../../../assets/imageseducation/cfp653.png" class="img-thumbnail logoEducaciones" alt="" />Centro
            Formación
            Profesional 653 ///
            Julio 2019 - Noviembre
            2019.</strong>
        </p>
        <p>
          Instalación de Sistemas Operativos. Instalación de programas.
          Reparación de Hardware, etc.
        </p>
        <a href="#" target="_blank"><button type="button" class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item5" aria-expanded="false" aria-controls="cardEducacion-item5">
        Auxiliar Contable
      </button>
    </h2>
    <div id="cardEducacion-item5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
      <div class="accordion-body">
        <p>
          <strong><img src="../../../assets/imageseducation/cfp653.png" class="img-thumbnail logoEducaciones" alt="" />Centro
            Formación
            Profesional 653 ///
            Marzo 2019 - Junio
            2019.</strong>
        </p>
        <p>
          Brindar apoyo en materia de procesos contables. Gestionar la
          documentación necesaria para gestionar planillas, emitir
          documentos financieros, actualizar libros contables y llevar a
          cabo procesos legales, como el pago de impuestos y demás.
        </p>
        <a href="#" target="_blank"><button type="button" class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item6" aria-expanded="false" aria-controls="cardEducacion-item6">
        Tester QA Manual
      </button>
    </h2>
    <div id="cardEducacion-item6" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
      <div class="accordion-body">
        <p>
          <strong><img src="../../../assets/imageseducation/sayquality.jpg" class="img-thumbnail logoEducaciones" alt="" />Say
            Quality /// Junio 2022 - Agosto 2022.</strong>
        </p>
        <p>
          Fundamentación de las pruebas, Riesgo, Errores, defectos y fallas,
          Pruebas exhaustivas, Alcance de las pruebas, Criterios de salida,
          Concepto de testing, Testing vs. debugging, Principios generales
          del testing, Casos de uso, Casos de prueba, Caja negra, caja
          blanca y caja gris.
        </p>
        <a href="http://say-quality.com/" target="_blank"><button type="button" class="btn btn-primary">Ver
            más</button></a>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardEducacion-item7" aria-expanded="false" aria-controls="cardEducacion-item7">
        Jovenes Programadores
      </button>
    </h2>
    <div id="cardEducacion-item7" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
      <div class="accordion-body">
        <p>
          <strong><img src="../../../assets/imageseducation/jovenesprogramadores.png" class="img-thumbnail logoEducaciones"
              alt="" />Jovenes
            Programadores.</strong>
        </p>
        <p>
          “Jóvenes Programadores” es una iniciativa del programa BiblioRedes
          del Servicio Nacional del Patrimonio Cultural, dependiente del
          Ministerio de las Culturas, las Artes y el Patrimonio, el cual
          tuvo su lanzamiento oficial en enero del 2015.
        </p>
        <p>
          En Chile hay pocas instancias en donde se imparten clases como
          estas de manera gratuita, por lo que esta iniciativa brinda la
          oportunidad de tener un aprendizaje privilegiado en el área de la
          tecnología.
        </p>
        <p>He realizados diversos cursos, tales como: Ciberseguridad Ciudadana, JS, CSS, Python, PHP, Aplicaciones
          Moviles, etc.</p>
        <a href="https://www.jovenesprogramadores.cl/" target="_blank"><button type="button"
            class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>
</div>
<br />
<hr />
<!--
    ========================================================
                  EXPERENCIA
    ========================================================
    -->
<h1 class="title">EXPERIENCIA</h1>
<!-- ATRIBUTOS AGREGADOS EN STYLE -->
<div class="accordion cardExperiencia">
  <!-- ITEM 1 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardExperiencia-item1" aria-expanded="true" aria-controls="cardExperiencia-item1">
        Mantenimiento y Reparación de equipos informáticos
      </button>
    </h2>
    <div id="cardExperiencia-item1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <p>
          <strong>Emprendimiento propio /// Junio 2019 - Actualidad.</strong>
        </p>
        <p>
          Diagnóstico de fallas. Reemplazo de piezas dañadas. Instalación y
          configuración de Software. Instalación y configuración de Sistemas
          Operativos. Instalación y configuración de programas. Instalación
          y configuración de antivirus. Particionado de discos rígidos.
          Armado de una computadora personal.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
          Referencia
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Referencia
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
                <p><strong>Nombre: </strong>Jesús Torres</p>
                <p><strong>Numero de telefono: </strong>Tecnico.mantenimiento.tw@gmail.com</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ITEM 2 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardExperiencia-item2" aria-expanded="false" aria-controls="cardExperiencia-item2">
        Clases particulares de computación
      </button>
    </h2>
    <div id="cardExperiencia-item2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <p>
          <strong>Emprendimiento propio /// 2018 - 2019.</strong>
        </p>
        <br />
        <p>
          Ayudando a personas que no estaban familizadas con una computadora
          enseñandole el funcionamiento y a utilizar los paquetes de Microsoft Ofice.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          Referencia
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Referencia
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><strong>Nombre: </strong> Guiliana</p>
                <p><strong>Numero de telefono: </strong>+54 9 XXXX XXXXXX</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#cardExperiencia-item3" aria-expanded="false" aria-controls="cardExperiencia-item3">
        Encargado de deposito
      </button>
    </h2>
    <div id="cardExperiencia-item3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <p>
          <strong><img src="media/imageExperience/AridosCardenas.jpg" class="img-thumbnail logoEducaciones"
              alt="" />Áridos Cárdenas /// 2019-2022.</strong>
        </p>
        <p>Áridos Cárdenas es una empresa dedicada a distintos rubros, entre los principales se encuentra la venta de
          áridos, reparación y mantención de mangueras hidraulicas, mantención de maquinaria.</p>
        <p>
          Mi labor se basaba en trato con clientes, Trato con proveedores, Trabajo en equipo,
          Ayudar en el sector de reparación de mangueras hidraulicas. Además encargado de automatizar los procesos
          empresariales, tales como actualización de precios, control de
          stock, inventario, entre otros mediante programas.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          Referencia
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Referencia
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><strong>Nombre: </strong>Cárlos Cárdenas</p>
                <p><strong>Correo: </strong>carloscardenas.73@hotmail.com</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <a href="https://www.facebook.com/aridos.cardenas.31" target="_blank"><button type="button"
            class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>
</div>